<ul class="outer-list">
  <li>&nbsp;
    <ul class="inner-list">
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
    </ul>
  </li>
  <li></li>
</ul>

<table>
  <tr>
    <th>Title</th>
    <th>Version</th>
    <th>Parent</th>
  </tr>
  <div class="outer-container">
    <tr>
      <td>
        <span class="dot parent"></span>
        Action 1
      </td>
      <td>0.1</td>
      <td>Root</td>
    </tr>
    <tr>
      <td  class="">
        <span class="dot child inner-container"></span>
        Action 1.1</td>
      <td>0.2</td>
      <td>Action 1</td>
    </tr>
    <tr>
      <td>
        <span class="dot child inner-container"></span>
        Action 1.2</td>
      <td>0.3</td>
      <td>Action 1</td>
    </tr>
    <tr>
      <td>
        <span class="dot child inner-container"></span>
        Action 1.2.1</td>
      <td>0.4</td>
      <td>Action 1.2</td>
    </tr>
  </div>

</table>
